html,
body,
#root {
  height: 100%;
}
.App {
  height: 100% !important; 
}
.marginForm {
  margin-top: 5% !important;
}
.marginButton {
  margin-top: 7% !important;
}
.messagePos {
  padding-bottom: 30%;
}
.blue {
  color:  #4183c4;
}
.no-color {
  color: white;
}
.no-color:hover {
  color: white;
}
.link-black {
  color: black;
  padding: 6px;
}

.link-black:hover {
  color: black;
}

.active-item {
  border: none;
}
.line {
  line-height: 1.6;
}

.item-pad {
  padding-right: 0 !important;
}

.dropdown-menu {
  font-size: 22px !important;
  margin-top: 20px !important;
}
.marg-auto {
  margin: auto;
}
.tran-img:hover {
  width: 400px !important;
}

