.App {
  text-align: center;
}
html, body {
  height: 100%
}
.marginForm {
  margin-top: 5% !important;
}
.marginButton {
  margin-top: 7% !important;
}
.messagePos {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

